// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-request {
    background-color: white;
    border: 1px solid gray;
    
    position: absolute;
    margin:0 auto;
    width:50%;
}




.friend-request h4 {
    
    padding-top:2%;
}


.friend-request img {
   float:left;
   margin: 2%;
}


