// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.post {
    margin-top: 4%;
    float: right;
    clear:both;
    max-width: 100%;
}

.post-button {
    float:right;
     clear:both;
     margin-bottom: 4%;
     margin-top: 2%;
}
.datetime {
    color: #9197A3;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
}

.wall-contain {
    background-color: rgba(255,255,255,0.7);
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    border-radius: 3px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,133,250,0.5);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,133,250,0.5);
box-shadow: 0px 0px 2px 0px rgba(0,133,250,0.5);
float:right;
clear:both;
}

.status-image {
    
    border: 1px solid gray;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    
}

.status {
    
    line-height: 70%;
}

.status-name{
    margin-top: 10px;
}

.post-content {
    margin-top:2%;
    margin-left:2%;
}

.glyphicon-remove{
    float:right;
    color: #D0D1D5;
    
}

.glyphicon-remove:hover {
    color: black;
}

.post-like {
    width:85%;
    border-top: 1px solid #E5E5E5;
    margin:0 auto;
    color: #9197A3;
    font-family: helvetica,arial,sans-serif;
}

.post-like a {
    color: #9197A3; 
}

.fa-thumbs-up {
   margin-top:1%;
   float: left;
}


.fa-thumbs-up:hover {
    color:black;

}

.fa-comment {
    float:left;
    margin-left:30px;
    
}

.fa-comment:hover {
    color:black;
}

.show-likes {
    float:left;
    margin-left:10px;
    margin-top: 1%;
}

.blue {
    color: #337AB7;
}


/*comments*/
.comment-wall {
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.2);
    width:100%;
    float:right;
}


.comment-name{
    margin-top:5px;
    margin-bottom:2px;
}

.comment-content{
    float:left;
    margin-left:40px;
    margin-top:0;
}


.new-comment {
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.2);
    width:100%;
    float:right;
    padding-top:0;
}

.comment {
    float:left;
    font-size:12px;
    margin-top:5px;
    width:70%;
    padding-left:5px;
}

.comment-button {
    font-size:10px;
    padding: 3px 6px;
    margin: 5px;
}

.comment-datetime{
    
     color: #9197A3;
    font-family: helvetica,arial,sans-serif;
    font-size: 10px;
}
@media(min-width:768px){
  
  
  
  .wall-contain {
    width:75%;
   
  
  }
}