// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
    margin-top: 5%;
}


.datetime {
    color: gray;
    
}

.wall-contain {
    background-color: rgba(255,255,255,0.7);
    border: 1px solid gray;
    margin: 5% auto;
    width: 65%;
}


.status-image {
    
    border: 1px solid gray;
    float:left;
    margin: 2%;
}

.status {
    
    line-height: 70%;
}

.post-content {
    margin-top:5%;
    margin-left:2%;
}