// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image {
    border:4px solid white;
    position: relative;
    left: 5%;
    bottom: -115px;
    border-radius: 2px;
    outline: 1px solid rgba(0, 0, 0, 0.4);
}



.cover-name {
    color:white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    position: relative;
    left:26%;
    bottom:15px;
   font-weight: 800;

}


.cover {
    background-repeat: none;
    background-size: cover;
    margin: 0 17px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-top:none;
     border-radius: 2px;
}

#friend-count {
    font-size: .7em;
    color:gray;
}

#camera {
 position: relative;
 left: 65px;
 bottom:-80px;
 font-size:1.5em;
 color: rgba(255,255,255,0.7);
}





/* names on friends' profile pics */

.name1 {
    position: relative;
    left:5px;
    bottom:20px;
    color:white;
    font-size: .9em;
}

.name2 {
    position: relative;
    left:5px;
    bottom:20px;
    color:white;
    font-size: .9em;
}

.name3 {
    position: relative;
    left:5px;
    bottom:20px;
    color:white;
    font-size: .9em;
}


.find-more {
    margin-top:3%;
    clear:both;
}


.friend{
    width:100px;
    height:100px;
    clear:none;
    float:left;
    margin:3px;
    
}



#photo {
    padding-top: 5%;
    
    
}

.timeline {
    height:45px;
    background-color: white;
    margin: 0 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-top:none;
     border-radius: 2px;
}

.table {
    
}

/* font awesome icons */

.fa-info-circle {
color: blue;    
}


.fa-users{
    color:red;
    padding-left: 8px;
    padding-right:8px;
}

#delete-post {
    float:right;
}

.friends-link {
    color:black;
    
    
}