// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image {
    border:1px solid gray;
}




#camera {
 position: relative;
 left:-25%;
 bottom:30px;
 font-size:2em;
 color: 255.250.250.05;
}

.img-center{
    margin: auto;
}

.wall-contain {
    background-color: white;
    border: 1px solid black;
}