// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-image {
    border:4px solid white;
    
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 2px;
    outline: 1px solid rgba(0, 0, 0, 0.4);
}



.cover-name {
    color:black;;
    text-align:center;
    position: relative;
    left:0;
    bottom:-45px;
   text-shadow: 1px 1px rgba(0,0,0,0.5);
   font-family: "Lato";
   text-rendering: optimizelegibility;
}


.cover {
    background-repeat: none;
    background-size: cover;
    margin: 0 4px;
    text-align:center;
}

#friend-count {
    font-size: .7em;
    color:gray;
}




#camera {
 position: relative;
 left: -39%;
 bottom:30px;
 font-size:1.5em;
 color: rgba(255,255,255,0.7);
}


#photo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    border-radius: 2px;
}



/* names on friends' profile pics */

.name1 {
    position: relative;
    left:5px;
    bottom:20px;
    color:white;
    font-size: .9em;
}

.name2 {
    position: relative;
    left:5px;
    bottom:20px;
    color:white;
    font-size: .9em;
}

.name3 {
    position: relative;
    left:5px;
    bottom:20px;
    color:white;
    font-size: .9em;
}


.find-more {
    margin-top:3%;
    clear:both;
}


.friend{
    width:100px;
    height:100px;
    clear:none;
    float:left;
    margin:2px;
    
}





.timeline {
    height:40px;
    background-color: white;
    margin: 0 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-top:none;
     border-radius: 2px;
}

.table {
    
}


.cover-photo-edit {
    margin:10%;
}



#delete-post {
    float:right;
}

.friends-link {
    color:black;
    
    
}

/* font awesome icons */

.fa-info-circle {
color: blue;    
}


.fa-users{
    color:red;
    padding-left: 8px;
    padding-right:8px;
}




  /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    .cover {
        text-align:left;
        border-style: solid;
        border-width: 1px;
        border-color: #D3D6DB;
        border-top:none;
        border-radius: 2px;
    }
    
    
    #photo {
    
    
    position: relative;
    margin: 0;
    left: 5%;
    bottom: -80px;
    padding-top:100px;
    
    
    
}
    
  #camera {
    left: 10px;
    bottom:30px;
  }
  
.cover-name {
    color:white;
    left:10%;
    bottom:0;
    font-weight: 800;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}
  
 
  
  .time-line {
    height: 45px;
  }
  
  

}


 /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .cover-name {
      left: -150px;
    }
    }

