// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-center{
    margin:auto auto;
}



#first-name{
    padding-left:0;
    padding-right:0;
    
}

#last-name{
    padding-left:0;
    padding-right:0;
}


.nameform {
   
   
    display: inline-block;
    width: auto;
    float:left;
    clear: none;
    
}

.inline{
    min-width:100%;
    max-width:100%;
}


#sessions {
    font-size: 14px;
    height: 28px;
}


.sign-up {
    margin-top: 5%;
    font-size: 1.5em;
}


#error_explanation{
    border: 2px solid red;
    background-color:white;
    padding:10px;
}



/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
  
 
  
}




#sessions-form {
    margin-top:10px;
    padding-right:15px;
    
    ::-webkit-input-placeholder {
   font-size: 14px;
  }

  :-moz-placeholder { /* Firefox 18- */
   font-size: 14px;
  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
   font-size: 14px;
   
  }

  :-ms-input-placeholder {  
   font-size: 14px;
   }
    
   

}



 ::-webkit-input-placeholder {
   font-size: 12px;
  }

  :-moz-placeholder { /* Firefox 18- */
   font-size: 12px;
   color: #999;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
   font-size: 12px;
   color: #999;
  }

  :-ms-input-placeholder {  
   font-size: 12px;
   }

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
 /*for placeholders inside of sessions form */
    
  ::-webkit-input-placeholder {
   font-size: 18px;
  }

  :-moz-placeholder { /* Firefox 18- */
   font-size: 18px;
   color: #999;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
   font-size: 18px;
   color: #999;
  }

  :-ms-input-placeholder {  
   font-size: 18px;
   }
    }


