// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-center{
    margin:auto auto;
}



.form-control {
   font-size: 16px;
   color:black;
   
}


 ::-webkit-input-placeholder {
   font-size: 18px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 18px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 18px;
}

:-ms-input-placeholder {  
   font-size: 18px;
}


#nameform {
    padding: 6px 0;
    
    display: inline-block;
    width: auto;
}


#sessions {
    font-size: 14px;
    height: 28px;
}

#sessions-form {
    margin-top:10px;
    padding-right:15px;
    
    
    
    /*for placeholders inside of sessions form */
    
     ::-webkit-input-placeholder {
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 14px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 14px;
}

:-ms-input-placeholder {  
   font-size: 14px;
}

}

.sign-up {
    margin-top: 5%;
    font-size: 1.5em;
}


#error_explanation{
    border: 2px solid red;
    background-color:white;
    padding:10px;
}